<div class="view-container" layout="column" ng-cloak>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <h2>
                <span>{{vm.$$ui.title}}</span>
            </h2>
        </div>
    </md-toolbar>
    <md-content>
        <section>
            <md-subheader class="md-primary md-hue-1">Grid</md-subheader>
            <md-content flex layout-padding>
                <div layout="row">
                    <div flex="66">First item in row</div>
                    <div flex="33">Second item in row</div>
                </div>
                <div layout="column">
                    <div flex>First item in column</div>
                    <div flex>Second item in column</div>
                </div>
            </md-content>
        </section>
        <section>
            <md-subheader class="md-primary md-hue-1">Forms</md-subheader>
            <md-content flex layout-padding>
                <h1 class="md-title">New Post</h1>
                <div layout="row">
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input ng-model="vm.post.title">
                    </md-input-container>
                    <md-input-container>
                        <label>Category</label>
                        <md-select ng-model="vm.post.category">
                            <md-option ng-repeat="category in vm.$$ui.categories" value="{{category.id}}">
                                {{category.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Content</label>
                    <textarea rows="5" ng-model="vm.post.content" md-select-on-focus></textarea>
                </md-input-container>
                <md-list>
                    <md-list-item ng-repeat="tag in vm.$$ui.tags">
                        <p>{{tag.name}}</p>
                        <md-checkbox class="md-secondary" ng-model="tag.selected"></md-checkbox>
                    </md-list-item>
                </md-list>
            </md-content>
        </section>
        <section>
            <md-subheader class="md-primary md-hue-1">Buttons</md-subheader>
            <md-content flex layout-padding>
                <md-button class="md-raised md-primary" ng-click="vm.$$ix.save()">Save</md-button>
                <md-button class="md-raised" ng-click="vm.$$ix.cancel()">Cancel</md-button>
            </md-content>
            <md-subheader class="md-primary md-hue-1">default</md-subheader>
            <md-content flex layout-padding>
                <md-button>Default</md-button>
                <md-button class="md-primary">md-primary</md-button>
                <md-button class="md-accent">md-accent</md-button>
                <md-button class="md-warn">md-warn</md-button>
            </md-content>
            <md-subheader class="md-primary md-hue-1">md-raised</md-subheader>
            <md-content flex layout-padding>
                <md-button class="md-raised">Default</md-button>
                <md-button class="md-raised md-primary">md-primary</md-button>
                <md-button class="md-raised md-accent">md-accent</md-button>
                <md-button class="md-raised md-warn">md-warn</md-button>
            </md-content>
            <md-content flex layout-padding>
                <md-button class="md-raised">Default</md-button>
                <md-button class="md-raised md-hue-1 md-primary">md-hue-1 md-primary</md-button>
                <md-button class="md-raised md-hue-1 md-accent">md-hue-1 md-accent</md-button>
                <md-button class="md-raised md-hue-1 md-warn">md-hue-1 md-warn</md-button>
            </md-content>
            <md-content flex layout-padding>
                <md-button class="md-raised">Default</md-button>
                <md-button class="md-raised md-hue-2 md-primary">md-hue-2 md-primary</md-button>
                <md-button class="md-raised md-hue-2 md-accent">md-hue-2 md-accent</md-button>
                <md-button class="md-raised md-hue-2 md-warn">md-hue-2 md-warn</md-button>
            </md-content>
            <md-content flex layout-padding>
                <md-button class="md-raised">Default</md-button>
                <md-button class="md-raised md-hue-3 md-primary">md-hue-3 md-primary</md-button>
                <md-button class="md-raised md-hue-3 md-accent">md-hue-3 md-accent</md-button>
                <md-button class="md-raised md-hue-3 md-warn">md-hue-3 md-warn</md-button>
            </md-content>
            <div md-theme="alternative">
                <md-content flex layout-padding>
                    <md-button class="md-raised">Default</md-button>
                    <md-button class="md-raised md-primary">md-primary</md-button>
                    <md-button class="md-raised md-accent">md-accent</md-button>
                    <md-button class="md-raised md-warn">md-warn</md-button>
                </md-content>
                <md-content flex layout-padding>
                    <md-button class="md-raised">Default</md-button>
                    <md-button class="md-raised md-hue-1 md-primary">md-hue-1 md-primary</md-button>
                    <md-button class="md-raised md-hue-1 md-accent">md-hue-1 md-accent</md-button>
                    <md-button class="md-raised md-hue-1 md-warn">md-hue-1 md-warn</md-button>
                </md-content>
                <md-content flex layout-padding>
                    <md-button class="md-raised">Default</md-button>
                    <md-button class="md-raised md-hue-2 md-primary">md-hue-2 md-primary</md-button>
                    <md-button class="md-raised md-hue-2 md-accent">md-hue-2 md-accent</md-button>
                    <md-button class="md-raised md-hue-2 md-warn">md-hue-2 md-warn</md-button>
                </md-content>
                <md-content flex layout-padding>
                    <md-button class="md-raised">Default</md-button>
                    <md-button class="md-raised md-hue-3 md-primary">md-hue-3 md-primary</md-button>
                    <md-button class="md-raised md-hue-3 md-accent">md-hue-3 md-accent</md-button>
                    <md-button class="md-raised md-hue-3 md-warn">md-hue-3 md-warn</md-button>
                </md-content>
            </div>
        </section>
    </md-content>
</div>