<div class="grid__container" id="gridView">
    <div id="section-content" ng-repeat="product in vm.products">

        <div class="products grid__column-bp1-4 grid__offset-bp1-0">
            <div class="products-content grid__column-bp1-10 grid__offset-bp1-1 ">
                <a ui-sref="products.show({id: product.id})"><h1>{{product.name}}</h1></a>
                <p>{{product.description | limitTo: 70 }}{{product.description.length > 120 ? '...' : ''}}</p>
                <span>{{product.price | currency : "€"}}</span>
            </div>
            <a ui-sref="products.show({id: product.id})" class="button-black-gold">Buy Now</a>
        </div>

    </div>
</div>




