<div ng-cloak>
<div class="grid__container">

    <ul id="section-navigation2">

        <a ng-repeat="category in vm.categories" ui-sref="products.grid({category_id: category.id})"><li class="grid__column-bp1-2"><h2>{{category.name}}</h2></li></a>

    </ul>

</div>


<md-content ui-view>

</md-content>

    </div>



