
.section-search{
    background-color: #f5ebd6;
}

.section-search .grid__container {
    padding: 0;
}

a {
    color: #fff
}

#searchbar{
    padding: 20px 0px;

}

.searchbarInput{
    margin-right: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #BC912D; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;

}
.searchbarButton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #BC912D; border-right:0px;
    background: #BC912D;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;

}
.searchbarButton:hover {
    text-decoration: none;
    background: #C9AD73;
}
/* Fixes submit button height problem in Firefox */
.searchbarButton::-moz-focus-inner {
    border: 0;
}

#section-headerNavigation {
    margin-top: 150px;
}

#section-headerNavigation ul li{
    list-style-type: none;
    display: inline;
    text-align: center;

}

#header {
    height: 200px;
    background: #571B34;;

}

#header img{
    position: absolute;
    max-width: 300px;
    margin-top: 40px;
}

#section-navigation ul li{
    text-align: center;
    color: #000;
    height: 30px;
    border-bottom: 0.5px solid #fff;
    border-top: 0.5px solid #fff;
    padding-left: 10px;
    list-style-type: none;

    background: #DDBE7C;


}

#section-navigation a{
    text-decoration: none;
}

#section-navigation ul li:hover{
    background: #f5ebd6;
}


#section-navigation ul li i{
    padding-left: 10px;
}

#section-navigation ul {
    margin: 0;
    padding: 0;
    width: 100%;
}


#section-navigation2 {
    height: 100px;
    background: #DDBE7C;
    margin: 0;
    padding: 0;

}

#section-navigation2 a {
    text-decoration: none;

}

#section-navigation2 li {
    display: inline;
    color: #000000;
    text-align: center;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #DDBE7C;
    margin: 0;
    padding-top: 5px;
    width: 20%;
    height: 100%;

}

#section-navigation2 a:last-child li {

    border-right: 0px;
}


#section-navigation2 li:hover {
    background: #bc912d;
}


#section-filter{
    background: #fff;
    height: 50px;
    margin: 0;
    padding: 0;
}

#section-filter img{
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

#section-filter li:last-child {
    text-align: right;
}

#section-filter li{
    display: inline;
    color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
    margin: 0;
    width: 20%;
    height: 100%;
}

#section-title{
    height: 50px;
    margin: 0px 0px 1px 0px;
    text-align: center;
    padding: 0;
    width: 100%;
    background: #fff;
}

#section-title h2{
    font-weight: bold;
    display: block;
    margin: 0;
    padding: 0;
}

.title{
    padding: 0;
}

.basket{
    padding: 0;
}

.ddl{
    margin-left: 5px;
}



select {
    align-content: center;
    background: #DDBE7C ;
    color: #fff;
    width: 80px;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.products {
    background-color: #f5ebd6;
    height: 300px;
    margin-top: 40px;

}

.products-content span{
    font-size: 2rem;
}

.products-content a{
    font-size: 2rem;
    color: #571B34;
    text-decoration: none;
}

#listView{
    margin-top: 40px;
}

#section-content-list {
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

#section-content-list li{
    background: #fff;
    color: #000;
    margin: 5px 0px 5px 0px;
    height: 50px;
    list-style-type: none;
    position: relative;
}


#section-content-list h2 i{
    padding-left: 10px;
}

#section-content-list li i{
    float: right;
    padding: 5px 10px 10px 10px;
}


#section-content-list a{
    color: #000000 ;
}


#section-content-list span{
    display: block;
    font-size: 1.8em;
    color: #DDBE7C;
    position: absolute;
    right: 0;
    margin-right: 100px;

}


#section-content-list h2{
    float: left;
    display: block;
    margin: 0;
    padding: 0px 10px 0px 10px;
}

#gridView{
    display: block;
}

#product-detail{

}

#product-detail-left{
    width: 60%;
    float: left;
    color: #000;
    padding: 10px;
    min-height: 100px;
}

#product-detail-left-content{
    padding: 10px;
}

#product-detail-left-character{
    padding: 10px;
    background: #f5ebd6;
    color: #000;
    min-height: 50px;
    width: 50%;
    margin: 10px;
    text-align: center;
}

#product-detail-left-character ul{
    margin: 0;
    padding: 0;
}

#product-detail-left-character ul li{
    list-style-type: none;
}

#product-detail-left-character h3{
    display: block;
    text-decoration: underline;
    margin: 5px;
}

#product-detail-right{
    background: #fff;
    border: 1px solid #571B34;
    width: 36.5%;
    float: right;
    min-height: 100px;
    padding: 10px;
    text-align: center;
    margin-right: 40px;
}

#product-detail-right img{
    width: auto;
    max-height: 500px;

}

#product-detail-right-content{
    width: 100%;
    padding: 10px;
}

#product-detail-right-content h2{
    display: block;
    width: 25%;
    float: left;
    margin: 0;
}

#product-detail-right-content i{
    float: right;
    padding: 5px;
    color: #000;
}

#product-detail-right-select{
    background: #909090;
    width: 100%;
    padding: 10px;
}

.auth_form{
    min-height: 100px;
    background: #ffffff;
    margin-top: 40px;
}

.auth_form input{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ddbe7c
}

.btnAuth{
    background: #984d64;
    text-decoration: none;
    padding: 5px 0px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lnkAuth{
    color: #984d64;
    padding: 5px 0px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.lnkAuth:hover{
    color: #571B34;
}

.btnAuth:hover{
    background: #571B34;
}

.form-group label{
    margin-top: 20px;
    color: #984d64;
    text-align: center;
    text-decoration: underline;
}

#section-profile-wishlist{
    min-height: 100px;
    margin: 0;
    border-top: 1px solid #571B34;
    width: 100%;
}

#section-basket{
    min-height: 100px;
    background: #ffffff;
    margin: 0;
    border-top: 1px solid #571B34;
    width: 100%;
}


#section-basket p {
    min-height: 150px;
    display: block;
    padding: 20px 0px 10px 5px;
    color: #000;
    margin: 0;
}

#section-basket a {
    color: #000;
}

#section-basket img {
    height: 100px;
    width: auto;
    display: block;
    float: left;
    margin: 5px;

}

#view{
    background: #fff;
}
#section-basket p:nth-child(even) {
    background: rgba(221,190,124, 0.2);
}

#section-basket p {
    border-bottom: 1px solid #571B34;
}


#section-navigation-profile {
    height: 100px;
    background: #DDBE7C;
    margin: 0;
    padding: 0;

}

#section-navigation-profile a {
    text-decoration: none;

}

#section-navigation-profile h2 {
    display: block;

}

.basket-amount{
    padding: 0px 150px 0px 5px;
    position: absolute;
    right: 0;
}

#section-navigation-profile li {
    display: inline;
    color: #000000;
    text-align: center;
    border-right: 1px solid #571B34;
    margin: 0;
    padding-top: 5px;
    width: 33.33333%;
    height: 100%;
    float: left

}

#section-navigation-profile li:hover {
    background: #bc912d;
}

.basket-button-remove{
    display: block;
    width: 100px;
    height: 30px;
    padding: 0px 5px 0px 5px;
    position: absolute;
    right: 0;
    margin: -10px 5px 5px 5px;
    background: #ddbe7c;
    border: none;
}

.basket-price{
    padding: 0px 200px 0px 5px;
    position: absolute;
    right: 0;
}

.basket-button-remove:hover {
    color: #fff;
}
#product-detail-right img{
    display: block;
    margin: 0 auto;
}

#product-detail-right h2 {
    display: block;
    width: 20%;
    float: left;
}

#product-detail-right .amount-basket {
    display: block;
    width: 10%;
    float: right;
    margin: 30px 5px 0px 5px;
    background: none;
    border: 1px solid #571B34;
    height: 30px;
}

#product-detail-right .add-basket {
    display: block;
    width: 30%;
    float: right;
    margin-top: 30px;
    background: #ddbe7c;
    border: 1px solid #571B34;
}

#product-detail-right .add-basket:hover {
    color: #fff;
}



.section-footer{
    background: #571B34;
    height: 100px;
    margin: 40px 0px 0px 0px;
    padding: 0;
}