<!DOCTYPE html>
<html lang="nl" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Shop4scotch</title>
    <!--<link rel="stylesheet" href="css/font-awesome.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body class="bg-darkRed">

<div id="header" class="grid__container">
    <a ui-sref="home"><img src="css/images/logo.png" class="grid__column-bp1-3"></a>
    <div id="section-headerNavigation" class="grid__column-bp1-12 grid__offset-bp1-7">
        <ul>
            <!--@if (Auth::guest())-->
            <li class="grid__column-bp1-1 grid__offset-bp1-3"><a href="http://www.shop4scotch.local/login">sign in</a></li>
            <!--@else
            <li class="grid__column-bp1-1"><a href="{{URL::to('profile')}}">welcome, {{ Auth::user()->name_first}}</a></li>
            <li class="grid__column-bp1-1"><a href="{{ url('/logout') }}">log out</a></li>
            @endif-->
            <li class="grid__column-bp1-1"><a ui-sref="basket"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>        </ul>
    </div>
</div>




<!--VIEWS-->

    <ui-view id="main"></ui-view>





<div class="section-footer full_width">

</div>


<script src="vendor/angular/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--<script src="js/main.js"></script>-->
<script src="js/app.js"></script>


</body>
</html>