
<div class="grid__container title">
    <div id="section-title">
        <h2 class="grid__column-bp1-12">Shopping Basket</h2>

    </div>

</div>


<div class="grid__container basket">
    <div  class="grid__column-bp1-12" id="section-basket">
        <p ng-repeat="item in vm.products">
            <button class="basket-button-remove" ng-click="vm.$$ix.remove($index)">Remove</button>
            <a>{{item.name | uppercase}}</a>
            <span class="basket-price">{{item.price | currency : "€"}}</span>
            <span class="basket-amount">{{item.amount}}</span>
            <img ng-src="http://www.shop4scotch.local/product_images/{{item.image}}">
        </p>
    </div>
</div>

















