
<div class="grid__container title">
    <div id="section-title">
        <h2 class="grid__column-bp1-12">Your Profile</h2>

    </div>

</div>


<div class="grid__container">

    <ul id="section-navigation-profile">

        <a ui-sref="profile"><li><h2>Profile</h2></li></a>
        <a ui-sref="orderhistory"><li><h2>Order History</h2></li></a>
        <a ui-sref="wishlist"><li><h2>Wishlist</h2></li></a>

    </ul>

</div>


<div class="grid__container">


    <div  class="grid__column-bp1-12" id="section-profile">

            <p>First Name: {{vm.$$ui.user[0].firstname}}</p>
            <p>Last Name: {{vm.$$ui.user[0].lastname}}</p>
            <p>Gender: {{vm.$$ui.user[0].gender}}</p>
            <p>E-mail: {{vm.$$ui.user[0].email}}</p>
            <p>Phone: {{vm.$$ui.user[0].phone}}</p>

    </div>

</div>







